<%= render 'shared/message_success' %>
<h1 class="center-align">List of Articles
<% if loggined_in? %>
  <%= link_to new_article_path, class: "btn-floating btn-large waves-effect waves-light green" do %>
    <i class="material-icons">add</i>
  <% end %>
<% end %>
</h1>

<br />
<%= render 'article' %>
<center>
  <%= paginate @articles %>
</center>
<br>