<div class="container">
  <h4 class="center-align">
    <%= @user.username.capitalize %>'s profile<br>
    <%= avatar_image %>
  </h4>
  <div class="container-center">
    <%= render 'articles/article' %>
  </div>
</div>