<% if errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'message_error' %></h2>

      <ul>
        <% errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
