<% if errors.any? %>
<div class="red-text text-darken-4">
  <blockquote>
    <h6><%= t 'message_error' %>:</h6> 
    <ul>
      <% errors.each do |error| %>
        <li><%= "- #{error.full_message} "%></li>
      <% end %>
    </ul>
  </blockquote>
</div>
<% end %>
