<%#= render 'shared/message_center' %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <%= image_tag("https://vejasp.abril.com.br/wp-content/uploads/2016/11/245_schumacher-marco-de-bari-1.jpeg") %>
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>