@import 'materialize-css/sass/components/_color-variables';
$primary-color: #346BA7 !default;
$secondary-color: #346BA7 !default;
@import 'materialize-css/sass/materialize';

@import 'material-icons/iconfont/material-icons.css';

#main {
  padding: 20px;
}