@import 'materialize-css/sass/components/_color-variables';
$primary-color: #b80000 !default;
$secondary-color: #346BA7 !default;
@import 'materialize-css/sass/materialize';

#main {
  padding: 20px;
}