.brand-logo {
  margin-left: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

div#new-article {
  margin-left:300px;
}

.container-center { 
  width: 400px; 
  margin-left: auto;
  margin-right: auto; 
}

.img-rounded {
  border-radius: 50%;
  border: 1px solid #ccc; 
}

    